.container{
    background-color: green;
    }
    .layout{
    
    }
    .first-name{
    width: 50%;
    }
    .last-name{
        width: 50%;
    }
    .age{
    
    }
    .address{
    
    }
    .place-of-work{
    
    }
    .job-title{
    
    }
    .phone-number{
    
    }
    .skype{
    
    }
    button{
    
    }